@import '../../../../scss/typography.scss';

.item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;

    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 16px;

    max-width: 472px;

    @media (min-width: 900px) {
        flex-direction: row;
        min-width: 100%;
    }
}

.img {
    position: relative;

    img {
        width: 472px;
        height: 100%;
        object-fit: cover;

        @media (min-width: 850px) {
            min-width: 100%;
        }
    }

    .tag {
        position: absolute;
        top: 0;
        left: 0;

        padding: 12px 27px;
        border-bottom-right-radius: 12px;
        background: #fed74b;
    }
}

.info {
    display: flex;
    flex-direction: column;

    padding: 12px;
    width: 100%;
}

.duration {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-bottom: 10px;
}

.name {
    @include h3();

    margin-bottom: 20px;

    @media (min-width: 900px) {
        order: -1;
        margin-bottom: 10px;
    }
}

.description {
    margin-bottom: 35px;

    @include text();

    li:not(:last-child) {
        margin-bottom: 10px;
    }

    li {
        position: relative;
        padding-left: 40px;

        &:after {
            content: url('../../../../assets/icons/check-mark.svg');
            position: absolute;
            top: 2px;
            left: 0;
            width: 16px;
            height: 16px;
        }
    }
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    margin-left: 10px;
    color: black;

    &_online {
        @include customizeText(30px, 100%);

        display: block;
    }

    &_boarding {
        @include customizeText(10px, 120%);
    }

    @media (min-width: 690px) {
        margin-left: 0;
    }
}

.btn {
    color: #404040;
    padding: 12px 44px;

    border: 1px solid #cba500;
    border-radius: 20px;

    transition: all 0.3s ease;
    background: #fed74b;

    &:hover {
        background: #e8b705;
        border-color: #e8b705;
    }
}
