@import '../../../../../../../scss/typography.scss';
@import '../../../../../../../scss/variables.scss';

.body {
    width: 100%;
    position: relative;

    span {
        position: absolute;
        top: 20px;
        left: 10px;

        @include customizeText(10px, 100%);
        color: $text-second;
    }
}

.select {
    @include inputText();
    color: $text-main;

    width: 100%;
    border: 2px solid $color-accent;
    border-radius: 17px;
    padding: 12px 24px;
    margin-bottom: 20px;

    translate: all 0.3s ease;
    background: inherit;

    &_withlabel {
        padding-left: 50px;
    }
}
