.banner {
    height: 350px;
    background-image: url('../../assets/img/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 26px 0;

    @media (min-width: 500px) {
        gap: 60px;
        margin: 40px 0;
        align-items: center;
    }
}
